# Python virtual environment
.venv/

# Compiled Python files
__pycache__/
*.pyc
*.pyo

# CMake build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
build.ninja
rules.ninja

# Executable files
*.exe
*.dll
*.so
*.dylib

# Logs and temporary files
*.log
*.tmp
*.swp
*.swo

# System-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/